---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true

BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None

SortIncludes: true
IncludeBlocks: Regroup

Cpp11BracedListStyle: false
---
